@import "tailwindcss";

.scroll-container {
  height: 600px;
  overflow-y: auto;

  /* Scrollbar track */
  scrollbar-width: thin; /* untuk Firefox */
  scrollbar-color: #bbb transparent; /* untuk Firefox */
}

/* Chrome, Edge, Safari */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* lebar scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* warna track */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #4a90e2; /* warna thumb */
  border-radius: 4px;        /* rounded thumb */
  border: 2px solid transparent; /* jarak antara thumb dan track */
  background-clip: content-box;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #357ABD; /* warna thumb saat hover */
}